$second-color: #1c4b64;
$third-color: #ffee3d;
$button-color: #cb253e;
$shadow-color: #a31d31;
$hover-color: #db2843;
$button-color: #cb253e;
$shadow-color: #a31d31;
$hover-color: #db2843;

$button-width: 45px;
$button-height: 45px;

$button1-width: 35px;
$button1-height: 35px;

$otherscreen-top: 78%;

/*****************************
1. Toolbar button (at the top)
*****************************/

.toolbar-button{
  //basic-set
  float: left;
  margin-right: 4%;
  //size-set
  width: $button-width;
  height: $button-height;
  //backgurond-set
  background-color: $button-color;
  background-repeat: no-repeat;
  background-position: center center;
  //special-set
  border-radius: 99em;
  box-shadow: 1px 2px #a31d31;
  &:hover{
    background-color: #db2843;
    margin-top:-0.5%;
    cursor: pointer;
  }
  &:active{
    background-color: #db2843;
    margin-top:0%;
  }
} 

.toolbar-button.moreinfro{
  background-image: url('../img/more-infro.png');
  background-size: 20%;
}

.toolbar-button.brainstorming{
  background-image: url('../img/brainstorming.png');
  background-size: 75%;
}

.toolbar-button.adduser{
  background-image: url('../img/addperson.png');
  background-size: 70%;
}

.toolbar-button.recognition{
  background-image: url('../img/recognition.png');
  background-size: 70%;
}

.toolbar-button.vote{
  background-image: url('../img/vote.png');
  background-size: 60%;
}

/*****************************
2. Audio/Video-Control button (at the bottom)
*****************************/

.av-button{
  //basic-set
  float: left;
  margin-right: 2.5%;
  //size-set
  width: $button1-width;
  height: $button1-height;
  //background-set
  background-color: $second-color;
  background-repeat: no-repeat;
  background-position: center center;
  //special-set
  border-radius: 99em;
  box-shadow: 1px 2px 0 #153648;
  &:hover{
    margin-top: -0.5%;
    background-color: #246080;
    cursor: pointer;
  }
  &:active{
    margin-top: 0%;
    background-color: #246080;
  }
}

.audio-on{
  background-image: url('../img/audio.png');
  background-size: 80%;
}

.video-on{
  background-image: url('../img/video.png');
  background-size: 75%;
}

.exit{
  //basic-set
  margin-top:-0.5%;
  //size-set
  width: $button1-width+20px; 
  height: $button1-height+20px;
  //background-set
  background-color: $button-color;
  background-image: url('../img/exit.png');
  background-size: 60%;
  //special-set
  border-radius: 99em;
  box-shadow: 1px 2px 0 $shadow-color;
  &:hover{
    margin-top:-1.5%;
    background-color: #db2843;
    cursor: pointer;
  }
  &:active{
    margin-top:-0.5%;
    background-color: #db2843;
  }
}

.button-submit{
  width:10%;
  height:100%;
  //background-set
  background-color: black;
  background-image: url('../img/exit.png');
  background-size: 60%;
}