@import 'label';
@import 'img';
@import 'animation';

$bg-color: #c1d9e8;
$bgground-color1: #00944d;
$bgground-color2: #79543a;
$bgground-color3: #906441;
$bgground-color: #33b747;
$second-color: #1c4b64;
$third-color: #ffee3d;
$button-color: #cb253e;
$shadow-color: #a31d31;
$hover-color: #db2843;


//left field and right field
$both-width: 22%;
$both-height: 100%;

$center-width: 100%;
$toolbar-height: 10%;
$mainscreen-height: 60%;
$avcontrol-height: 10%;

$lf-top-width: 100%;
$lf-top-height: 5%;

$lf-voice-width: 75%;
$lf-voice-height: 26px;

$lf-meeting-width: 100%;
$lf-meeting-height: 10%;

$button-width: 45px;
$button-height: 45px;

$button1-width: 35px;
$button1-height: 35px;

$otherscreen-top: 78%;

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $bg-color;
  font-family: Microsoft JhengHei;
  font-size: 0.8em;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-ground{
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0%;
  z-index: -1000;
  background-color: $bgground-color;
  border-radius: 0% 0% 0 0;
  overflow: hidden;
}

.main-ground1{
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0%;
  z-index: -1001;
  background-color: $bgground-color1;
  border-radius: 0% 0% 0 0;
  overflow: hidden;
}

.left-field{
  position: absolute;
  left: 0%;
  width: $both-width;
  height: $both-height;
}

.right-field{
  position: absolute;
  right: 0;
  width: $both-width;
  height: $both-height;
}

.center-field{
  position: absolute;
  left: $both-width;
  width: 100%-($both-width*2);
  height: $both-height;
}

.toolbar{
  padding-left: 24%; 
  width: $center-width;
  height: $toolbar-height;
  margin-bottom: 1%;
}

.mainscreen{
  width: $center-width;
  height: $mainscreen-height;
  float:left;
  border-radius: 5px;
  background-image: url('../img/666.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
}

.left-voice{
  float: left;
  margin-top: 1%;
  margin-left: 2%;
  width: $lf-top-width;
  height: $lf-top-height;
}

.voice-content{
  width: $lf-voice-width;
  height: $lf-voice-height;
  margin: 3 auto;
  background-color: $second-color;
  border-radius: 15px;
  box-shadow: 1px 2px 0 #153648;
}

.left-meetingtime{
  float: left;
  margin-left: 28%;
  width: $lf-meeting-width;
  height: $lf-meeting-height;
}

.top-button{
  float: left;
  margin-top: 1%;
  margin-right: 4%;
  width: $button-width;
  height: $button-height;
  background-color: $button-color;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  box-shadow: 1px 2px #a31d31;
  &:hover{
    background-color: #db2843;
    margin-top:0.7%;
    cursor: pointer;
  }
  &:active{
    background-color: #db2843;
    margin-top:1%;
  }

} 

.moreinfro{
  background-image: url('../img/more-infro.png');
  background-size: 20%;
}

.brainstorming{
  background-image: url('../img/brainstorming.png');
  background-size: 75%;
}

.adduser{
  background-image: url('../img/addperson.png');
  background-size: 70%;
}

.recognition{
  background-image: url('../img/recognition.png');
  background-size: 70%;
}

.document{
  background-image: url('../img/document.png');
  background-size: 70%;
}

.other-video{
  float:left;
  bottom: 0%;
  z-index: 1000;
  top:$otherscreen-top;
  width: 100%;
  height:15%;
}

.video{
  float: left;
  width: 20%; 
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  &:hover{
    margin-top:-0.3%;
    cursor: pointer;
  }
  &:active{
    margin-top:0%;
    background-color: black;
  }
}

.user1{
  background-image: url('../img/user1.jpg');
}

.user2{
  background-image: url('../img/user2.jpg');
}

.user3{
  background-image: url('../img/user3.jpg');
}

.user4{
  background-image: url('../img/user4.jpg');
}

.user5{
  background-image: url('../img/user5.jpg');
}

.user-infro{
  position: relative;
  top: 76%;
  width: 43%;
  height: 20%;
}

.user-image{
  margin: 3;
  float: left;
  width: 20%; 
}

.member{
  background: linear-gradient(to right, rgba(255,238,69,1),rgba(255,238,69,1),rgba(255,238,69,1),rgba(255,238,69,0));
}

.king{
  background: linear-gradient(to right, rgba(135,211,202,1),rgba(135,211,202,1),rgba(135,211,202,1),rgba(135,211,202,0));
}

.center-bottom{
  box-sizing: border-box;
  padding-left: 37%;
  float: left;
  width: 100%;
  height: 13%;
}

.bottom-button{
  float: left;
  margin-top: 1.5%;
  margin-right: 4%;
  width: $button1-width;
  height: $button1-height;
  background-color: $second-color;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  box-shadow: 1px 2px 0 #153648;
  &:hover{
    margin-top: 1%;
    background-color: #246080;
    cursor: pointer;
  }
  &:active{
    margin-top: 1.5%;
    background-color: #246080;
  }
}

.audio-on{
  margin-top: 4%;
  background-image: url('../img/audio.png');
  background-size: 80%;
  &:hover{
    margin-top: 3.5%;
    background-color: #246080;
    cursor: pointer;
  }
  &:active{
    margin-top: 4%;
    background-color: #246080;
  }
}

.video-on{
  margin-top: 4%;
  background-image: url('../img/video.png');
  background-size: 75%;
  &:hover{
    margin-top: 3.5%;
    background-color: #246080;
    cursor: pointer;
  }
  &:active{
    margin-top: 4%;
    background-color: #246080;
  }
}

.exit{
  width: $button1-width+20px; 
  height: $button1-height+20px;
  background-color: $button-color;
  border-radius: 99em;
  box-shadow: 1px 2px 0 $shadow-color;
  background-image: url('../img/exit.png');
  background-size: 60%;
  &:hover{
    background-color: #db2843;
    cursor: pointer;
  }
  &:active{
    background-color: #db2843;
  }
}

.forest{
  z-index: 1;
  position: absolute;
  bottom: 8%;
  width: 100%;
  height: 20%;
}

.tree{
  position: absolute;
  background-image: url('../img/tree.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.tree1{
  position: absolute;
  background-image: url('../img/tree2.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.tree2{
  position: absolute;
  background-image: url('../img/tree2.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.tree3{
  position: absolute;
  background-image: url('../img/tree3.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


.position1{
  z-index: 1;
  position: absolute;
  left: 2%;
  bottom: 30%;
  width: 50px; 
  height: 80px;
}

.position2{
  z-index: -1;
  position: absolute;
  bottom: 30%;
  left: 8%;
  width: 40px;
  height: 50px;
}

.position3{
  z-index: -1;
  position: absolute;
  bottom:28%;
  left: 16%;
  width: 20px;
  height: 35px;
}

.position4{
  z-index: -1;
  position: absolute;
  bottom: 32%;
  right: 10%;
  width: 30px;
  height: 35px;
}

.position5{
  z-index: -1;
  position: absolute;
  bottom: 25%;
  right: 2%;
  width: 45px;
  height: 75px;
}

.position6{
  z-index: -1;
  position: absolute;
  bottom: 27%;
  right: 18%;
  width: 30px;
  height: 55px;
}

.position7{
  z-index: -50;
  position: absolute;
  bottom: 30%;
  right: 3%; 
  width: 280px;
  height: 130px;
}

.sky{
  width: 100%;
  height: 60%;
}

.cloud{
  z-index: -1000;
  position: absolute;
}

.left1{
  width: 10%;
  left: 30%;
  top:5%;
  animation: animatedcloud 120s infinite;
}

.left2{
  width: 7%;
  left: 15%;
  top:20%;
  animation: animatedcloud 120s infinite;
}

.left3{
  width: 9%;
  left: 2%;
  top:35%;
  animation: animatedcloud 120s infinite;
}

.right1{
  width: 7%;
  left: 50%;
  top:40%;
  animation: animatedcloud 90s infinite;
}

.right2{
  width: 9%;
  left: 70%;
  top:11%;
  animation: animatedcloud 80s infinite;
}

.right3{
  width: 9%;
  left: 85%; 
  top:25%;
  animation: animatedcloud 70s infinite;
}

.right4{
  width: 7%;
  left: 80%; 
  top:1%;
  animation: animatedcloud 75s infinite;
}

.mountain{
  position: absolute;
  background-image: url('../img/mountain.png');
  background-size: 100%;
  background-repeat: no-repeat;
}