$bd-color: #f2f5f7; //background-color
$menu-color: #fff; //menu-color
$shadow-color: #d9d9d9;
$primary-color: #60c5ba;
$second-color: #ef5285;
$third-color: #a5dff9;
$forth-color: #feee7d;
$font-color: #8198a4;
$font-color1: #545454;
$button-color: white;

@media screen and (max-width: 450px) {
  body {
    background-size: 80vw auto;
    background-color: #000;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background:$primary-color url('./img/welcome.png') no-repeat 50% 95%;
  background-size: 85vmin auto;
  font-family: Microsoft JhengHei;
}

.index-image{
  margin: inherit;
}

#three-people{
  max-width: 35%;
  height: auto;
}

.index-text{
  text-align: center;
  width:100%;
}

.index-logo{
  color: white;
  text-shadow: 2px 2px $font-color;
  font-family: Broadway;
  font-size: 23vmin;
  line-height: 100%;
}

.index-slogan{
  color: white;
  text-shadow: 2px 2px $font-color;
  font-family: Century Gothic;
  font-style: oblique;
  font-size: 5vmin;
  margin-top: -1%;
}

#pink {
  color: $second-color;
}


@-webkit-keyframes fadeIn {
0% {
opacity: 0; 
}

100% {
opacity: 1; 
}

}

#in {      
    animation: fadeIn;
    animation-duration: 1s;
    -webkit-animation:fadeIn 2.5s;
}

.index-button{
  margin: 210 auto;
  width: 40vmin ;
  height: 10vh;
}

.new-meeting{
  cursor:pointer;
  font-family: Microsoft JhengHei;
  font-size: 2.8em;
  color: $font-color1;
  background-color: $button-color;
  width:100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px $font-color;
  &:active{
    position:relative;
    top:1.5px;
  }
}

.index-form{
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 11%;
  margin-left: 40.5%;
  width:45vmin;
  height: 28vmin;
  background-color: #fff;
}


